* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(1, 1, 29);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 60px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 1px 1px 4px rgb(165, 165, 255);
}

form {
  background-color: rgb(0, 0, 83);
  padding: 20px;
  border-radius: 6px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type="date"],
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  background-color: #0084ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0084ff;
}

/* Optional Styles for Styling File Input */
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-wrapper span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #0084ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #999999;
}
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-wrapper span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #0084ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  margin-top: 5px;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgb(0, 0, 255);
  display: none;
}